@charset "UTF-8";

header{
    background-color: black;
    width: 800px;
    height: 150px;
    padding: 10px;
    
}

header h1{
    color: white;
    display: block;
    text-align: center;
}

body{
    background-color: white;
 
}

article#container1 {
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    min-height: 300px;
   

}